doctype html
html
    head 
        title login 
        link(rel="stylesheet", href="/static/css/style.css")
    body    
        #container
            form(action="/auth/login" method="POST")
                h1 Login 
                div(class="form-row")
                    label Email: 
                    input(type="email" name="email")
                div(class="form-row")
                    label Password 
                    input(type="password" name="password")
                input(type="submit" value="Login")    